/* newdeployment.css */

/* Style for the dropdown options */

.newdeployment-dropdown{
    display: flex;
    align-items: center;
    justify-items: center;
    
}


.newdeployment-button{
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-items: center;
    
}