
.wrapper {
    padding-top: 50px;
    max-width: 1000px;
    margin: auto;
}

.showdeployments-button {
    text-align: center; 
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
  
  .selected-row {
    background-color: #777;
  }
  
  table {
    width: 100%;
    text-align: left;
    margin: 1rem 0;
  }
  
  th, td {
    padding: 0.5rem;
    border-bottom: 1px solid #ccc;
  }
  
.delete-button{
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}
  
