api/.idea/
api/.vscode/
api/node_modules/
api/build/
api/.DS_Store
api/*.tgz
api/my-app*
api/template/src/__tests__/__snapshots__/
api/lerna-debug.log
api/npm-debug.log*
api/yarn-debug.log*
api/yarn-error.log*
api/.changelog
api/.npm/

ui/.idea/
ui/.vscode/
ui/node_modules/
ui/build/
ui/.DS_Store
ui/*.tgz
ui/my-app*
ui/template/src/__tests__/__snapshots__/
ui/lerna-debug.log
ui/npm-debug.log*
ui/yarn-debug.log*
ui/yarn-error.log*
ui/.changelog
ui/.npm/

.DS_Store