* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.username{
  display: flex;
  align-items: center;

}

@media (max-width: 720px) {
  .username {
    display: none;
  }
}


.nav {
  border-radius: 30px;
  background-color: rgb(10, 10, 10);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
  align-items: stretch;
  height: 60px;
  filter: drop-shadow(0 0 2em rgb(192, 165, 222));
}


@media (max-width: 500px) {
  .nav  {
    gap: 0.3rem;
  }
}

.site-title {
  font-size: 2.5rem;
}


@media (max-width: 500px) {
  .site-title  {
    font-size: 1.50rem;
  }
}


.ulmain{

}
@media (max-width: 500px) {
  .ulmain  {
    font-size: 0.75rem;
  }
}

.nav ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}


@media (max-width: 500px) {
  .nav ul  {
    gap: 0.2rem;
    padding: 0 0rem;
  }
}

.nav a{
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
  -webkit-tap-highlight-color: transparent;


}

.icon {
  width: 20px; /* Adjust the width as needed */
  height: 20px; /* Adjust the height as needed */
  margin-right: 0.5rem; /* Add some spacing between the icon and site title */
}

.site-title-container {
  display: flex;
  align-items: center; /* Center vertically */
}
